.custom-chart {
  max-height: 240px;
  width: 100%;
}

.product-details {
  padding: 0 var(--relative-medium);
  border-radius: 0;
}

.product-upper {
  max-width: 500px;
  padding: var(--relative-medium);
}

.product-image {
  width: 100%;

  img {
    width: 100%;
    max-height: 100px;
    object-fit: contain;
  }
}

@media (min-width: 1024px) {
  .container {
    height: 100%;
    margin: auto;
    display: block;
  }

  .product-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--relative-medium);
  }

  .product-upper {
    display: flex;
    height: 50%;
  }

  .product-image {
    width: 50%;
    padding: var(--relative-medium);

    img {
      max-width: 300px;
      max-height: 300px;
    }
  }

  .product-info {
    flex: 2;
  }

  .product-lower {
    width: 100%;
  }

  .custom-chart {
    max-height: inherit;
  }
}