.filters-container {
    padding: 16px;
    width: 300px;

    .menu-links {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 16px;
        margin-bottom: 16px;
    }
}

.filter-field {
    width: 100%;
    margin-bottom: 16px;
}

.actions {
    display: flex;
    justify-content: space-between;
}