.filters-container {
    padding: var(--relative-medium);
    width: 300px;

    .menu-links {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: var(--relative-medium);
        margin-bottom: var(--relative-medium);
    }
}

.filter-field {
    width: 100%;
    margin-bottom: var(--relative-medium);
}

.actions {
    display: flex;
    justify-content: space-between;
}