.create-product-container {
    max-width: 600px;
    margin: 0 auto;
    padding: var(--relative-large);
}

.form-field {
    display: block;
    width: 100%;
    margin-bottom: var(--relative-large);
}

.actions {
    display: flex;
    justify-content: space-between;
}